/* Ligne à écrire a chaque ouverture de VSC pour lié Sass */
/* sass --watch MESBG/public/sass/defaut.scss MESBG/public/css/defaut.css */

/* ==========================================================================
   SECTION : Séparation à utilisé pour séparer les différents trucs
   ========================================================================== 
*/

/* Variable */

/* Import */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "stylesheet.scss";
@import "A_livre_mesbg_v6.scss";
@import "A_video.scss";
@import "A_connexion.scss";
@import "livre_mesbg_v7";
@import "A_attente.scss";
@import "commentaire.scss";

/* Selecteur */
body {
  margin: 0;
  padding: 0;
  background-color: #eceadc;
}

/* iD */
/* -------------------------------------------------------------------------------------------  */
/* Class pour header */
.image-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  padding: 0 30px;
  background-color: #000;
}

/* Logo gauche */
.logo-left {
  height: 200px;
  width: auto;
}

/* Image centrale */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-main {
  max-height: 300px;
  width: auto;
}

// Les boutons se co...
.header-right {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  // text-align: right;
}

.header-right span {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.header-right .btn-link {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.header-right .btn-link:hover {
  text-decoration: underline;
}

.menu-style {
  font-family: AnironC;
}

.bg-black {
  background-color: black;
}

/* ==========================================================================
   SECTION : HOME
   ========================================================================== 
*/

.invisible {
  display: none;
}

.h2_presentation {
  font-family: MiddleEarth;
  margin-left: 50px;
  margin-top: 10px;
}

.right_link {
  text-align: right;
  margin-right: 40px;
}

.text_presentation {
  margin: 15px 25px 15px;
  padding: 10px 15px 10px;
  text-align: justify;
  text-indent: 2em;
}

.text_presentation::first-letter {
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  font-family: MiddleEarth;
}

.layout {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 20px;
  margin: 25px 0px 25px 25px;
}

.music_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  border-left: 3px solid #ccc;
  text-align: center;
}

h4 {
  font-family: "MiddleEarth", sans-serif !important;
}

.music_home img {
  width: 120px;
  cursor: pointer;
  transition: transform 0.2s;
}

.music_home img:hover {
  transform: scale(1.1);
}

/* ==========================================================================
   SECTION : Pour le volume dans Home
   ========================================================================== 
*/

#volumeControl {
  appearance: none;
  -webkit-appearance: none;
  width: 150px;
  height: 6px;
  background: #444;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

#volumeControl::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(90deg, #00baff, #006bff);
  border-radius: 4px;
}

#volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  border: 2px solid #006bff;
  margin-top: -5px;
  cursor: pointer;
}

#volumeControl:active::-webkit-slider-thumb {
  transform: scale(1.1);
}

#volumeControl::-moz-range-track {
  height: 6px;
  background: linear-gradient(90deg, #00baff, #006bff);
  border-radius: 4px;
}

#volumeControl::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  border: 2px solid #006bff;
  cursor: pointer;
}

/* ==========================================================================
   SECTION : Classe commune
   ========================================================================== 
*/

h1 {
  text-align: center;
  margin-top: 12px;
  padding-bottom: 8px;
  font-family: Ringbearer;
}

.content {
  margin: 25px 20px;
}

/* ---------------------------------------------------------------------------------- */

/* Classe pour footer */

/* ---------------------------------------------------------------------------------- */

/* Classe pour livre_mesbg_v7 */

// .building {
//   height: 100vh;
//   position: relative;
//   background-image: url("/MESBG/public/images/fond_ecran_TDM.jpeg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   color: rgb(0, 0, 0);
//   // filter: brightness(
//   //   1.4
//   // ); /* 1 = normal, 1.1 = plus clair et 1.9 très clair ! */
// }

// .building::after {
//   content: "";
//   position: absolute;
//   inset: 0;
//   background: rgba(
//     255,
//     255,
//     255,
//     0.4
//   ); /* plus on se rapporche de 0 et plus c'est blanc alors que 1, c'est foncé */
//   z-index: 1;
// }

// .building h1 {
//   position: relative;
//   z-index: 2; /* pour que le texte reste au-dessus */
//   font-size: 3rem;
// }

/* Media Query pour Home */
@media screen and (max-width: 1200px) {
  .header-right {
    flex-direction: row;
    text-align: left;
  }

  .header-right span {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .header-right .btn-link {
    margin: 0 0 0 10px;
  }
  .header-main {
    max-height: 250px;
    width: auto;
  }

  .logo-left {
    height: 100px;
    width: auto;
  }
}

@media screen and (max-width: 920px) {
  .image-header {
    height: 250px;
  }

  .header-right {
    flex-direction: row; /* boutons alignés horizontalement */
    text-align: left;
  }

  .header-right span {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .header-right .btn-link {
    margin: 0 0 0 10px; /* espace horizontal entre boutons */
  }
  .header-main {
    max-height: 150px;
    width: auto;
  }

  .logo-left {
    height: 100px;
    width: auto;
  }
  .header-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .header-right span {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
  }
}
