@font-face {
  font-family: "MiddleEarth";
  src: url("/MESBG/public/fonts/MiddleEarth.woff2") format("woff2"),
    url("/MESBG/public/fonts/MiddleEarth.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AnironC";
  src: url("/MESBG/public/fonts/AnironC.woff2") format("woff2"),
    url("/MESBG/public/fonts/AnironC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aniron";
  src: url("/MESBG/public/fonts/Aniron-Bold.woff2") format("woff2"),
    url("/MESBG/public/fonts/Aniron-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AnironC";
  src: url("/MESBG/public/fonts/AnironC-Bold.woff2") format("woff2"),
    url("/MESBG/public/fonts/AnironC-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aniron";
  src: url("/MESBG/public/fonts/Aniron.woff2") format("woff2"),
    url("/MESBG/public/fonts/Aniron.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elvish Ring NFI";
  src: url("/MESBG/public/fonts/ElvishRingNFI.woff2") format("woff2"),
    url("/MESBG/public/fonts/ElvishRingNFI.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ringbearer";
  src: url("/MESBG/public/fonts/RingbearerMedium.woff2") format("woff2"),
    url("/MESBG/public/fonts/RingbearerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
